<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>D and D - Game Master</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/game_master.js'></script>
</head>

<body>
    <p>lorem ipsum here</p>
    <p>welcome to D and D game</p>
    <div>You are {{data.name}} and you are running the {{data.game}} game.</div>

    <ul>
        {{#each data.items}}
        <li>
            <ul class='collapsible' data-collapsible='expandable'>
                <li>
                    <div class='collapsible-header'>{{group}}</div>
                    <div class='collapsible-body'>
                        {{> items_table}}
                    </div>
                </li>
            </ul>
        </li>
        {{/each}}
    </ul>

    {{!--
    <ul class='collapsible' data-collapsible='accordion'>
        {{#each data.items}}
        <li>
            <div class='collapsible-header'>{{group}}</div>
            <div class='collapsible-body'>
                {{> items_table}}
            </div>
        </li>
        {{/each}}
    </ul> --}}

    {{!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> --}}
    {{!-- <script src='/socket.io/socket.io.js'></script> --}}
     {{!--
    <script>
        var data = {
            name: "{{data.name}}",
            game: "{{data.game}}"
        }
    </script> --}}
    {{!-- <script src='/js/game_master.js'></script> --}}
</body>

</html>