<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>D and D - Game Master</title>

    <!-- stylesheet -->
    <link rel='stylesheet' href='/css/style.css'>
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jQuery -->
    <script type="text/javascript" src="js/libs/jquery.js"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="js/libs/materialize-css/bin/materialize.js"></script>
    
    <!-- socket.io -->
    <script src='/socket.io/socket.io.js'></script>
 
    <!-- script -->
    <script data-main="/js/game_master.js" src="js/require.js"></script>
</head>

<body>
    <header></header>
    <main class='flow-text'>
        <div class='row'>
            <div class='col s12'>
                <p>welcome to D and D game</p>
                <div>You are {{data.name}} and you are running the {{data.game}} game.</div>
            </div>
        </div>
        <div class='row'>
            <div class='col s12'>
                <ul>
                    {{#each data.items}}
                    <li>
                        <ul class='collapsible' data-collapsible='expandable'>
                            <li>
                                <div class='collapsible-header'>{{group}}</div>
                                <div class='collapsible-body'>
                                    {{> items_table}}
                                </div>
                            </li>
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>
    <footer></footer>
    {{!--
    <script src='/socket.io/socket.io.js'></script> --}} {{!--
    <script>
        var data = {
            name: "{{data.name}}",
            game: "{{data.game}}"
        }
    </script> --}} {{!--
    <script src='/js/game_master.js'></script> --}}
</body>

</html>